body{
    background-image: url(../img/ac.jpg);
}

table{
    width: 90vw;
    height: 90vh;
    border-spacing: 2.5em;
}

td{
    text-align: center;
    vertical-align: top;
    border: 2px solid black;
}

.a{
    background-image: url(../img/back_mantel.jpg);
}

.b{
    background-image: url(../img/back_mantel.jpg);
    width: 80%;
    height: 80%;
    margin-left: 10%;
}

.c{
    background-image: url(../img/back_mantel.jpg);
    background-size: cover;
}

.d{
    background-image: url(../img/back_mantel.jpg);
    background-size: contain;
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
    background-color: white;
}

.e{
    background-image: url(../img/dh.jpg);
}

.f{
    background-image: url(../img/dh.jpg);
    background-size: contain;
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
    background-color: white;
}

.g{
    background-image: url(../img/dh.jpg);
    background-size: contain;
    background-size: 100% 60%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
}

.h{
    background-image: url(../img/dh.jpg);
    background-size: contain;
    background-size: 60% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
}
